<mat-card>
  <form #ownerForm="ngForm" (ngSubmit)="save(ownerForm.value)">
    <mat-card-header>
      <mat-card-title>
        <h2>{{ owner.name ? "Edit" : "Add" }} Owner</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <input type="hidden" name="href" [(ngModel)]="owner.href" /> -->
      <mat-form-field>
        <!-- <input
          matInput
          placeholder="Owner Name"
          [(ngModel)]="owner.name"
          required
          name="name"
          #name
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Owner DNI"
          [(ngModel)]="owner.dni"
          required
          dni="dni"
          #dni
        /> -->
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <!-- [disabled]="!ownerForm.form.valid" -->
      <button mat-raised-button color="primary" type="submit">Save</button>

      <!-- (click)="remove(owner.href)" -->
      <button mat-raised-button color="secondary" type="button">Delete</button>
      <a mat-button routerLink="/owner-list">Cancel</a>
    </mat-card-actions>
    <mat-card-footer> </mat-card-footer>
  </form>
</mat-card>
